<div class="row">
  <div class="five columns">
    <div class="user-login-wrap">
      <h1>Resend confirmation instructions</h1>

      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field-wrap">
          <%= f.email_field :email %>
          <%= f.label :email %>
        </div>

        <div><%= f.submit "Resend confirmation instructions", :class => "btn btn-default" %></div>
      <% end %>

      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
