<h2>User Login</h2>
<%= semantic_form_for(
    resource,
    :as => resource_name,
    :url => session_path(resource_name),
    :html => { :class => "form-vertical" }
) do |f| %>
  <%= f.inputs do %>
    <%= f.input :email, :autofocus => true %>
    <%= f.input :password %>
    <%= f.input :remember_me, :as => :boolean %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => "Login", :button_html => { :class => "btn btn-default" } %>
  <% end %>
<% end %>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgot-password-link" %><br />
<% end -%>
